body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181a1b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 14vw;
  height: auto;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.product-image-container {
  height: 40%;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.product-title {
  font-size: 1rem;
  font-weight: 600;
}

.product-details {
  color: #181a1b;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: left;
  margin-top: 5px;
}

ul {
  padding-left: 25px;
}

.product-colors {
  display: flex;
  gap: 0.5rem;
  margin-top: 15px;
}

.color1 {
  width: 15px;
  height: 15px;
  background-color: #f44336;
  border-radius: 50%;
}

.color2 {
  width: 15px;
  height: 15px;
  background-color: #232a31;
  border-radius: 50%;
}

.color3 {
  width: 15px;
  height: 15px;
  background-color: #384b37;
  border-radius: 50%;
}

.price-title {
  display: flex;
  gap: 0.4rem;
  font-size: 0.7rem;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-weight: 600;
}

.product-price {
  font-weight: 600;
}

.product-discount {
  font-weight: 600;
  text-decoration: line-through;
}

.product-discount-percentage {
  font-size: 0.8rem;
  color: #f44336;
  font-weight: 600;
}

.product-quantity-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: flex-end;
  gap: 0.4rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.product-quantity-increase {
  width: 20px;
  height: 20px;
}

.product-quantity-decrease {
  width: 20px;
  height: 20px;
}

.product-remove-container {
  height: 2.5vw;
  background-color: #f77f76;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20PX;
}

.product-remove {
  width: 40px;
  height: 40px;
}